#restau-list{
    display: flex;
    background-color: rgb(243, 247, 251);
    padding: 50px 20px;
    flex-direction: column;
    min-height: 90vh;
}
.restau-list{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-wrap: wrap;
     
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search{
    position: relative;
    width: 100%;
    max-width: 400px;

    
}

.search input{
    height: 40px;
    width: 100%;
    border:2px solid #e0dede;
    background-color: white;
    border-radius: 10px;
    padding: 10px 12px 10px 40px; 
    outline: none;
    /* transition: all 0.2s ease-in; */
}
.search input:focus{
    border-color: #fcc39a;
}
/* .search input:hover{
    border-color:#fcc39a ;
} */
.search i{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%); /* Centre verticalement l'icône */
    color: #999; /* Couleur grise pour la loupe */
    pointer-events: none; /* Permet de cliquer à travers l'icône pour focus l'input */
}
.filters{
    display: flex;
    gap:10px;
    margin-bottom: 30px;

}
.filter{
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    color: #753202;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.filter.active{
    background-color: #f97316;
    color: white;
}
#mobile-filter{
    display: none;
    outline: none;
    border: none;
    /* height: 40px; */
    border-radius: 10px;
    padding: 10px 5px;
    border: #f97316 1px solid;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    color: #f97316;
    color-scheme: light;
    
}
select option{
    background-color: white;
    color: #753202;
    outline: none;
    border: none;
}
select option:checked,
select option:hover{
    background-color:#753202 !important;
    color: white !important;
}

@media(max-width:1038px){
    .top{
        flex-direction: column;
        align-items: flex-start;
    }
    .top .search{
        margin-bottom: 15px;
    }
}
@media(max-width:800px){
    .top{
        align-items: center;
    }
    .top .title{
        text-align: center;
    }
}
@media(max-width:600px){
    .filters{
        display: none;
    }
    #mobile-filter{
        display: block;
    }
}