#restau-list{
    display: flex;
    background-color: rgb(243, 247, 251);
    padding: 50px 20px;
    flex-direction: column;
}
.restau-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto; 
    padding: 0 auto;   
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    position: relative;
    width: 100%;
    max-width: 400px;

    
}

.search input{
    height: 40px;
    width: 100%;
    border:2px solid #e0dede;
    background-color: white;
    border-radius: 10px;
    padding: 10px 12px 10px 40px; 
    outline: none;
    /* transition: all 0.2s ease-in; */
}
.search input:focus{
    border-color: #fcc39a;
}
/* .search input:hover{
    border-color:#fcc39a ;
} */
.search i{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%); /* Centre verticalement l'icône */
    color: #999; /* Couleur grise pour la loupe */
    pointer-events: none; /* Permet de cliquer à travers l'icône pour focus l'input */
}
.filters{
    display: flex;
    gap:10px;
    margin-bottom: 30px;

}
.filter{
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    color: #753202;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.filter.active{
    background-color: #f97316;
    color: white;
}